<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://192.168.70.106/ScreeningToolAPI</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.70.106</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/ScreeningToolAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>.\administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ScreeningToolEntitiesLive" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ScreeningToolApi.Models.ScreeningToolEntitiesLive, ScreeningToolApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ScreeningToolEntitiesLocal" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.70.102;Initial Catalog=ScreeningTool;User ID=ict;Password=ict@ictdept;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ScreeningToolEntitiesLocal_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ScreeningToolEntities.csdl|res://*/Models.ScreeningToolEntities.ssdl|res://*/Models.ScreeningToolEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.70.102;initial catalog=ScreeningTool;user id=ict;password=ict@ictdept;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ScreeningToolEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=ScreeningTool;User ID=ict;Password=ict@ictdept;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ScreeningToolEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ScreeningTool.csdl|res://*/Models.ScreeningTool.ssdl|res://*/Models.ScreeningTool.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ScreeningTool;user id=ict;Password=ict@ictdept;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ScreeningToolMinesiteEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.70.231;Initial Catalog=ScreeningToolMinesite;User ID=ict;Password=ict@ictdept;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ScreeningToolMinesiteEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ModelsMinesite.ScreeningModelMinesiteApi.csdl|res://*/ModelsMinesite.ScreeningModelMinesiteApi.ssdl|res://*/ModelsMinesite.ScreeningModelMinesiteApi.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.70.231;initial catalog=ScreeningToolMinesite;user id=ict;password=ict@ictdept;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ScreeningToolEntities1" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.70.102;Initial Catalog=ScreeningTool;User ID=ict;Password=ict@ictdept;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ScreeningToolEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ScreeningToolApi.csdl|res://*/Models.ScreeningToolApi.ssdl|res://*/Models.ScreeningToolApi.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.70.102;initial catalog=ScreeningTool;user id=ict;password=ict@ictdept;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>